[package]
name = "mogh_resolver"
description = "Traits to link Request / Response types, forming 'resolver' relationships"
version = "1.0.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
mogh_resolver_derive.workspace = true