// https://mantine.dev/styles/sass/#usage-with-vite
@use "sass:math";

:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #f8f9fa;
  --mantine-color-text: #000000;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #0f1115;
  --mantine-color-text: #ffffff;
}

$mantine-breakpoint-xs: "40em";
$mantine-breakpoint-sm: "54em";
$mantine-breakpoint-md: "68em";
$mantine-breakpoint-lg: "82em";
$mantine-breakpoint-xl: "96em";
$mantine-breakpoint-xl2: "110em";
$mantine-breakpoint-xl3: "126em";
$mantine-breakpoint-xl4: "142em";


* {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: inherit;
}
a:focus {
  text-decoration: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  text-wrap: nowrap;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bordered-light {
  border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-1) 50%, transparent);
  transition: border 150ms ease;
}
.bordered-light:hover {
  border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-4) 50%, transparent);
}

.bordered-heavy {
  border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-5) 50%, transparent);
  transition: border 150ms ease;
}
.bordered-heavy:hover {
  border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-9) 50%, transparent);
}

.bordered-heavy-outline {
  &[data-variant="outline"] {
    border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-5) 50%, transparent);
    transition: border 150ms ease;
  }
}
.bordered-heavy-outline:hover {
  &[data-variant="outline"] {
    border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-9) 50%, transparent);
  }
}

.accent-hover-light {
  background-color: var(--mantine-color-accent-2);
}
.accent-hover-light:hover {
  background-color: var(--mantine-color-accent-5);
}

.accent-hover-heavy {
  background-color: var(--mantine-color-accent-7);
}
.accent-hover-heavy:hover {
  background-color: var(--mantine-color-accent-9);
}

.select-nondimmed-placeholder .mantine-Input-input::placeholder {
  color: inherit;
  opacity: 1;
}

// Prevent auto zooming on mobile
@media screen and (max-width: 768px) {
  .mantine-Input-input,
  .mantine-Button-root {
    font-size: 16px !important;
  }
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme="light"] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme="dark"] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin smaller-than($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin larger-than($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}

@mixin ltr {
  [dir="ltr"] & {
    @content;
  }
}
